/* old color: #8c784e */


* {
  font-size: 15px;
  border: none;
  border-radius: 0px;  
  font-family: JetBrainsMono NF;
  font-weight: bold;
  min-height: 20px;
}

window#waybar {
  background: alpha(#282828, 0.5);
}

/*
.modules-left {
}

.modules-center {
}

.modules-right {
}
*/

/*
#workspaces {  
}
*/

#workspaces button {
  color: #4d4c4c;
  padding-left: 30px;
  padding-right: 30px;
}

#workspaces button:hover {
  background: alpha(#282828, 0.5);
  padding-left: 30px;
  padding-right: 30px;
}

#workspaces button.active {
  background: alpha(#daa833, 0.4);
  color: #daa833;
  padding-left: 30px;
  padding-right: 30px;
}

#window {
  color: #daa833;
}

#clock {
  color: #ebdbb2;
}

#pulseaudio {
  color: #ebdbb2;
  margin-right: 10px;
}



@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
